.container__article__bigcard {
  width: 100%;
}
.container__article__bigcard img {
  vertical-align: middle;
  width: 100%;
  height: 300px;
}
.container__article__bigcard span {
  color: var(--white);
  opacity: 0.3;
  font-size: 0.6875rem;
  font-size: 0.6875rem;
  line-height: 0.6875rem;
}
.container__article__bigcard h3 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
  letter-spacing: 0px;
  color: var(--white);
  opacity: 0.8;
  margin-bottom: 1rem;
}
.container__article__bigcard p {
  font-size: 1rem;
  line-height: 1.625rem;
  color: var(--text-card-color);
  font-weight: 300;
}
