h1 {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  text-align: center;
  font-size: var(--font-size-title-small);
  line-height: 10rem;
  margin: 20px 0px 60px;
}

@media screen and (min-width: 425px) {
  h1 {
    font-size: 5rem;
    line-height: 13rem;
  }
}

@media screen and (min-width: 625px) {
  h1 {
    font-size: 7rem;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: var(--font-size-title-medium);
    line-height: 13rem;
  }
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: var(--font-size-title-big);
    line-height: 17rem;
  }
}
