header {
  margin-top: 1.2rem;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: blueviolet;
  width: 30px;
  height: 30px;

  text-align: center;
  line-height: 30px;
}

h2 a {
  background-color: transparent;
}

ul {
  display: inline-flex;
  gap: 0.5rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  ul {
    gap: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  ul {
    display: inline-flex;
    gap: 1.5rem;
  }
}
