<header>
  <h2><a [routerLink]="['/']">J</a></h2>

  <ul>
    <li>
      <a href="https://linkedin.com/in/julia-pereira-teixeira" target="_blank"
        >Linkedin</a
      >
    </li>
    <li><span>•</span></li>
    <li>
      <a href="https://github.com/julia-teixeira" target="_blank">Github</a>
    </li>
    <li><span>•</span></li>
    <li>
      <a
        href="mailto:juliapteixeira2007@gmail.com?subject=Gostaria de fazer contato&amp;body=Olá, gostaria de entrar em contato contigo! 😄"
        target="_blank"
        >Email</a
      >
    </li>
  </ul>

  <!-- <ul>
    <li>
      <a href="https://linkedin.com/in/julia-pereira-teixeira" target="_blank"
        ><i class="bi bi-linkedin"></i
      ></a>
    </li>

    <li>
      <a href="https://github.com/julia-teixeira" target="_blank"
        ><i class="bi bi-github"></i
      ></a>
    </li>

    <li>
      <a
        href="mailto:juliapteixeira2007@gmail.com?subject=Gostaria de fazer contato&amp;body=Olá, gostaria de entrar em contato contigo! 😄"
        target="_blank"
        ><i class="bi bi-envelope-at-fill"></i
      ></a>
    </li>
  </ul> -->
</header>
